In [135]:
import pandas as pd
import numpy as np
import re

In [139]:
def get_submission_details(copypaste):
    split_input = re.split("\s", copypaste)
    id_str = split_input[0]
    score_float = split_input[-1]
    file_name = filename = re.findall('\w*.csv\w*', copypaste)[-1]
    comment_str = ''
    submitted_datetime = ''
    submission_row = [id_str, file_name, score_float, submitted_datetime, comment_str]
    return submission_row
def submission_dataframe(rows,columns=['ID', 'FILE', 'SCORE', 'SUBMITTED', 'COMMENT']):
    return pd.DataFrame(data=[rows], columns = columns)
# the below needs work
def add_to_submission_dataframe(df, rows, columns=['ID', 'FILE', 'SCORE', 'SUBMITTED', 'COMMENT']):
    return df.append(zip([columns,rows]), ignore_index=True)

In [142]:
submission_history = submission_dataframe(get_submission_details('TjkRBAPv ~4 hours ago AOASampleSubmission.csv Just the sample submission 33084.9563135007'))

In [143]:
#submission_history = add_to_submission_dataframe(submission_history, get_submission_details('TjkRBAPv 4 minutes ago AOASampleSubmission.csv Just the sample submission 33084.9563135007'))
submission_history

         ID                     FILE             SCORE SUBMITTED COMMENT
0  TjkRBAPv  AOASampleSubmission.csv  33084.9563135007

In [119]:
submission_history = submission_dataframe(get_submission_details('TjkRBAPv 4 minutes ago AOASampleSubmission.csv Just the sample submission 33084.9563135007'))
submission_history

         ID                     FILE             SCORE SUBMITTED COMMENT
0  TjkRBAPv  AOASampleSubmission.csv  33084.9563135007

In [124]:
submission_row = get_submission_details('TjkRBAPv 4 minutes ago AOASampleSubmission.csv Just the sample submission 33084.9563135007')

In [129]:
submission_history = submission_history.append([submission_row])

In [78]:
submission_columns = ['ID', 'FILE', 'SCORE', 'SUBMITTED', 'COMMENT']

In [130]:
submission_history

,0,1,2,3,4,COMMENT,FILE,ID,SCORE,SUBMITTED
0,NaN,NaN,NaN,NaN,NaN,,AOASampleSubmission.csv,TjkRBAPv,33084.9563135007,
1,TjkRBAPv,AOASampleSubmission.csv,33084.9563135007,,,NaN,NaN,NaN,NaN,NaN
0,TjkRBAPv,AOASampleSubmission.csv,33084.9563135007,,,NaN,NaN,NaN,NaN,NaN