# Exploring Uber Movement Data for Nairobi <a name="Top"></a>
***
In this notebook we will use the Uber movement data to find distances between hexbins. To map the Uber movement data, Open Street Map data is used. For more on the Uber data read:
https://medium.com/uber-movement/working-with-uber-movement-speeds-data-cc01d35937b3
More on Open Street Map:
https://wiki.openstreetmap.org/wiki/Downloading_data


## Table of Contents

[Imports and setup](#Imports_setup)<br>
[Extract, transform and load the data](#ETL)<br>
[Data cleaning](#Data_cleaning)<br>
[Feature engineering](#Feature_engineering)<br>
[Data analysis](#Data_analysis)<br>

</br>
</br>
</br>

***
## Imports and setup <a name="Imports_setup"></a>

### Importing packages

In [1]:
import pandas as pd
import h3


import sys  
sys.path.insert(0, '../Scripts')
import capstone_functions as cf

### Setup

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.options.display.float_format = '{:,.3f}'.format

### Functions

[Back to top](#Top)<br>

</br>
</br>
</br>

## Extract, transform and load the data <a name="ETL"></a>

In [2]:
df_accidents = pd.read_csv('../Inputs/Train.csv', parse_dates=['datetime'])
print(df_accidents.shape)
df_accidents.head()

(6318, 4)

   uid            datetime  latitude  longitude
0    1 2018-01-01 00:25:46 -1.188850  36.931382
1    2 2018-01-01 02:02:39 -0.662939  37.208730
2    3 2018-01-01 02:31:49 -0.662939  37.208730
3    4 2018-01-01 03:04:01 -1.288087  36.826583
4    5 2018-01-01 03:58:49 -1.188850  36.931382

[Back to top](#Top)<br>

</br>
</br>
</br>

## Data cleaning <a name="Data_cleaning"></a>

[Back to top](#Top)<br>

</br>
</br>
</br>

## Feature engineering <a name="Feature_engineering"></a>

[Back to top](#Top)<br>

</br>
</br>
</br>

## Data analysis <a name="Data_analysis"></a>

[Back to top](#Top)<br>